$bg-primary: #0C0C18;
$font-primary: #FFFFFF;
$font-secondary: #524B54;
$secondary: #151529;
$higlight: #6F42F5;

body {
    font-family: 'Inter', sans-serif !important; 
    height: 100%;
    width: 100%;
    margin: 0;
    color: $font-primary;
}

.navbar {
    background-color: $bg-primary;
    margin: 0 auto;
    height: 70px;
}

.logo {
    font-family: 'Chakra Petch', sans-serif; 
    font-size: 30px;
    position: absolute;
    padding-left: 40px;
    float: left;
    margin: 0;
    margin-top: 20px;
}

nav {  
    .nav-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 200px;

        li {
            float: left;
            position: relative;
            font-size: 18px;
            margin-top: 32px;
            margin-left: 43px;
        }
    }
}

.login {
    position: absolute;
    font-size: 18px;
    margin-top: 32px;
    right: 40px;
}

.line {
    position: absolute;
    width: 5px;
    height: 38px;
    left: 200px;
    top: 22px;
    background: #FFFFFF;
}

/*
*   Header
*/

.header {
    text-align: center;
    color: white;
    height: 410px;
}

.header-headings {
    margin-top: 200px;
    h1 {
        font-size: 48px;
    }
    p {
        font-size: 14px;
        color:  $font-secondary;
    }
}

.btn-wrapper {
    border: none;
    width: 175px;
    height: 50px;
    background-color: $higlight;
    box-shadow: 0px 4px 4px rgba(94, 57, 207, 0.25);
    border-radius: 14px;
    font-size: 20px;
    color: white;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
	align-items: center;
    display: flex;
}

.btn-primary {
    color: white;
}

.btn-primary:hover {
    color: white;
}



/*
*    Content
*/

.category-link {
    color: white;
}

.category-link:hover {
    color: $higlight;
}

.tools-content {
    background-color: $secondary;
    height: 300px;
}

.tools-heading {
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
}

.tools {
    margin-top: 20px;
    i {
        float: left;
        font-size: 80px;
        margin-left: 120px;
    }

    p, h3 {
        margin-left: 220px;
    }
}

.tool-subheading {
    font-size: 12px;
    color: $font-secondary;
}

.topics-wrapper {
    background-color: $bg-primary;
    height: 600px;
}

.topics-content {
    margin-top: 40px;
}

.topics-heading {
    font-size: 30px;
    line-height: 30px;
}

.topics-subheading {
    line-height: 20px;
    color: $font-secondary;
}

.topics-headings {
    margin-left: 300px;
    margin-top: 200px;
}

.topic-card {
    margin-top: 40px;
    background-color: $secondary;
    height: 200px;
    width: 180px;
    border-radius: 14px;
    text-align: center;
    h3 {
        font-size: 30px;
    }
    i {
        font-size: 50px;
    }
}

.topic-card-content {
    padding-top: 35px;
    p {
        color: $font-secondary;
    }
}

.footer {
    background-color: $secondary;
    height: 300px;
    padding-bottom: 0;
}

.footer-links {
    h1 {
        text-transform: uppercase;
        font-weight: bold;
    }
    margin-left: 20%;
}

.copyright {
    margin-top: 150px;
    p {
        color: $font-secondary;
        text-align: center;
    }
}

.github {
    font-size: 30px;
    position: absolute;
}

/*
*   Post pages
*/

.posts-wrapper {
    min-height: 500px;
}

.post {
    background-color: #0F0F1F;
    width: 100%;
    border-radius: 14px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.posts-heading {
    font-size: 40px;
}
.posts-label {
    display: table-cell; 
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: rgba(111, 66, 245, 0.33);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.label-wrapper {
    display: table;
    padding: 10px;
}

.post-date {
    margin-left: 20px;
}

.post-content {
    h1 {
        font-size: 20px;
        font-weight: bold;
    }
    p {
        margin-top: 5px;
    }
}

.post-content-wrapper {
    margin: 10px;
}

.post-footer {
    button {
        width: 160px;
        height: 34px;
        border: none;
        color: white;
        background: #151529;
        border-radius: 7.82353px;
    }
    margin-left: 10px;
    .author-link {
        color: $higlight;
    }
}

.post-content-link {
    color: white;
}

.post-content-link:hover {
    color: white;
}

.postpage-post {
    margin-top: 5%;
    min-height: 570px;
}

.postpage-post-header {
    font-size: 15px;
}

.postpage-post-category {
    text-transform: uppercase;
    font-weight: bold;
}

.postpage-post-date {
    color: $font-secondary;
}

.postpage-post-content {
    margin-top: 2%;
    h1 {
        font-size: 35px;
        font-weight: bold;
    }
}

.postpage-post-footer {
    margin-top: 5%;
}

.postpage-link {
    color: $higlight;
    padding-right: 20px;
}

//Styles for injected html

.postpage-post-content-injected {
    margin-top: 5%;
}

.postpage-post-content {
    h3 {
        font-size: 25px;
        font-weight: bold;
    }
    .center {
        text-align: center;
    }
    .icon:hover {
        cursor: pointer;
    }
    p {
        font-size: 20px;
    }
    .quote {
        color: $font-secondary;
        letter-spacing: -1px;
    }
    img {
        border-radius: 12px;
        width: 100%;
    }
    a {
        font-size: 20px;
        color: $higlight;
    }
    iframe {
        width: 100%;
    }
    ul {
        list-style-type: disc;
        margin-left: 2%;
    }
    li {
        font-size: 18px;
    }
    .quote-wrapper {
        background: $secondary;
        border-radius: 12px;
        p {
            padding: 10px;
            letter-spacing: -1px;
        }
    }
    strong {
        color: white;
        font-weight: bold;
    }
}


.postpage {
    min-height: 570px;
}

.github-link {
    color: white;
}

.impressum-wrapper {
    text-align: center;
    h1 {
        margin-top: 30px;
        font-weight: bold;
        font-size: 45px;
    }
    p {
        font-size: 20px;
    }
    min-height: 540px;
}
