body {
  font-family: 'Inter', sans-serif !important;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
}

.navbar {
  background-color: #0C0C18;
  margin: 0 auto;
  height: 70px;
}

.logo {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 30px;
  position: absolute;
  padding-left: 40px;
  float: left;
  margin: 0;
  margin-top: 20px;
}

nav .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 200px;
}

nav .nav-links li {
  float: left;
  position: relative;
  font-size: 18px;
  margin-top: 32px;
  margin-left: 43px;
}

.login {
  position: absolute;
  font-size: 18px;
  margin-top: 32px;
  right: 40px;
}

.line {
  position: absolute;
  width: 5px;
  height: 38px;
  left: 200px;
  top: 22px;
  background: #FFFFFF;
}

/*
*   Header
*/
.header {
  text-align: center;
  color: white;
  height: 410px;
}

.header-headings {
  margin-top: 200px;
}

.header-headings h1 {
  font-size: 48px;
}

.header-headings p {
  font-size: 14px;
  color: #524B54;
}

.btn-wrapper {
  border: none;
  width: 175px;
  height: 50px;
  background-color: #6F42F5;
  -webkit-box-shadow: 0px 4px 4px rgba(94, 57, 207, 0.25);
          box-shadow: 0px 4px 4px rgba(94, 57, 207, 0.25);
  border-radius: 14px;
  font-size: 20px;
  color: white;
}

.btn-wrapper-secondary {
  border: none;
  width: 175px;
  height: 50px;
  background-color: #151529;
  -webkit-box-shadow: 0px 4px 4px rgba(22, 22, 44, 0.25);
          box-shadow: 0px 4px 4px rgba(22, 22, 44, 0.25);
  border-radius: 14px;
  font-size: 20px;
  color: white;
}

button::hover {
  cursor: pointer;
}

.header-buttons {
  margin-top: 20px;
}

.header-buttons .btn-primary {
  margin-right: 20px;
}

.header-buttons .btn-secondary {
  margin-left: 20px;
}

/*
*    Content
*/
.tools-content {
  background-color: #151529;
  height: 300px;
}

.tools-heading {
  text-align: center;
  font-size: 35px;
  padding-top: 30px;
}

.tools {
  margin-top: 20px;
}

.tools i {
  float: left;
  font-size: 80px;
  margin-left: 120px;
}

.tools p, .tools h3 {
  margin-left: 220px;
}

.tool-subheading {
  font-size: 12px;
  color: #524B54;
}

.topics-wrapper {
  background-color: #0C0C18;
  height: 600px;
}

.topics-content {
  margin-top: 40px;
}

.topics-heading {
  font-size: 30px;
  line-height: 30px;
}

.topics-subheading {
  line-height: 20px;
  color: #524B54;
}

.topics-headings {
  margin-left: 300px;
  margin-top: 200px;
}

.topic-card {
  margin-top: 40px;
  background-color: #151529;
  height: 200px;
  width: 180px;
  border-radius: 14px;
  text-align: center;
}

.topic-card h3 {
  font-size: 30px;
}

.topic-card i {
  font-size: 50px;
}

.topic-card-content {
  padding-top: 35px;
}

.topic-card-content p {
  color: #524B54;
}

.footer {
  background-color: #151529;
  height: 300px;
  padding-bottom: 0;
}

.footer-links {
  margin-left: 20%;
}

.footer-links h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.copyright {
  margin-top: 150px;
}

.copyright p {
  color: #524B54;
  text-align: center;
}

.github {
  font-size: 30px;
  position: absolute;
}

/*
*   Post pages
*/
.posts-wrapper {
  min-height: 500px;
}

.post {
  background-color: #0F0F1F;
  width: 100%;
  border-radius: 14px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.posts-heading {
  font-size: 40px;
}

.posts-label {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: rgba(111, 66, 245, 0.33);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.label-wrapper {
  display: table;
  padding: 10px;
}

.post-date {
  margin-left: 20px;
}

.post-content h1 {
  font-size: 20px;
  font-weight: bold;
}

.post-content p {
  margin-top: 5px;
}

.post-content-wrapper {
  margin: 10px;
}

.post-footer {
  margin-left: 10px;
}

.post-footer button {
  width: 160px;
  height: 34px;
  border: none;
  color: white;
  background: #151529;
  border-radius: 7.82353px;
}

.post-footer .author-link {
  color: #6F42F5;
}

.post-content-link {
  color: white;
}

.post-content-link:hover {
  color: white;
}

.postpage-post {
  margin-top: 5%;
  min-height: 570px;
}

.postpage-post-header {
  font-size: 15px;
}

.postpage-post-category {
  text-transform: uppercase;
  font-weight: bold;
}

.postpage-post-date {
  color: #524B54;
}

.postpage-post-content {
  margin-top: 2%;
}

.postpage-post-content h1 {
  font-size: 35px;
  font-weight: bold;
}

.postpage-post-footer {
  margin-top: 5%;
}

.postpage-link {
  color: #6F42F5;
  padding-right: 20px;
}

.postpage-post-content-injected {
  margin-top: 5%;
}

.postpage-post-content .center {
  text-align: center;
}

.postpage-post-content .icon:hover {
  cursor: pointer;
}

.postpage-post-content p {
  font-size: 20px;
}

.postpage-post-content .quote {
  color: #524B54;
  letter-spacing: -1px;
}

.postpage-post-content img {
  border-radius: 12px;
  width: 100%;
}

.postpage-post-content a {
  font-size: 20px;
  color: #6F42F5;
}

.postpage-post-content iframe {
  width: 100%;
}
/*# sourceMappingURL=app.css.map */